doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js?x18050')
    //script(src='/javascripts/pixi.min.js')
  body
    block content
    script(src='/javascripts/game.js?x18050')